.reviews-section{
    padding: 50px 0;
background:#f8fafc;
}

.review-title{
font-size:36px;
color:#0891b2;
margin-bottom:40px;
}

.reviews-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
}

.review-card{
background:white;
border:2px solid #bfdbfe;
border-radius:20px;
padding:30px;
text-align:center;
box-shadow:0 10px 20px rgba(0,0,0,0.08);
}

.review-avatar{
font-size:40px;
font-weight:700;
color:#f59e0b;
margin-bottom:10px;
}
.review-container{
height: auto !important;
background: transparent !important;
}
.rating{
font-size:40px;
margin:10px 0;
}

.review-btn{
margin-top:15px;
border:2px solid #0ea5e9;
background:white;
color:#0ea5e9;
padding:10px 20px;
border-radius:30px;
cursor:pointer;
}
@media(max-width:1024px){

.about-grid{
grid-template-columns:1fr;
}

.reviews-grid{
grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:768px){

.reviews-grid{
grid-template-columns:1fr;
}

.about-images img{
height:150px;
}

}