.sidebar{
height:calc(100vh-80px);
width:250px;
background:white;
padding:40px 25px;
display:flex;
flex-direction:column;
border-right:1px solid #eee;
gap:15px;
}




.logout{
margin-top:auto;
background:none;
border:none;
font-size:18px;
color:red;
cursor:pointer;
}
.menu-item{
padding:12px 16px;
border-radius:10px;
cursor:pointer;
display:flex;
align-items:center;
gap:10px;
color:#555;
transition:0.3s;
font-size:16px;
}

.menu-item:hover{
background:#f3f3f3;
color: black;
}

.menu-item.active{
background: linear-gradient(90deg,#7b2ff7,#f107a3);
color:white;
}